.label {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}

.input {
  border: 0.5px solid var(--secondary-text);
  border-radius: 6px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
  &::placeholder {
    color: var(--secondary-text);
  }
}
