.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  overflow: hidden;
}

form {
  display: grid;
  row-gap: 24px;
  overflow: auto;

  &:not(:valid) {
    button {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
