.button {
  border-radius: 6px;
  padding: 12px;
  background-color: var(--main);
  color: var(--white-text);
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
}
